// ===================== VARIABLES ==========================
$border-radius: 10px;
$border-radius-high: 25px;
$transition-quick: all 0.2s ease !important;
$transition: all 0.3s ease !important;
$transition-with-delay: all 0.5s ease 10s !important;







// ====================== COLORS ============================






// ==========================================================================

// Dark varients #125255, #114d50, #0f4346, #0d3a3c, #0b3032
// Light varients afc5c6, bfd1d1, d2dfdf


:root, body.theme-light {
  --background-color: #EEEEEE;
  --background-light: #d2dfdf;
  --background-overlay: transparent;

  --background-card: #156064;
  --background-card-alt: #15606430;

  --primary-color: #EEEEEE;
  --accent-color: #156064;

  --primary-light: #EEEEEE40;
  --accent-light: #15606430;

  --primary-text: #EEEEEE;
  --accent-text: #156064;

  --primary-btn-text: #EEEEEE;
  --accent-btn-text: #156064;

  --mat-progress-bar-active-indicator-color: #156064 !important;
}

body.theme-dark {
  --background-color: #121212;
  --background-light: #151a1a;
  --background-overlay: transparent;

  --background-card: #0d3a3c;
  --background-card-alt: #0d3a3c30;

  --primary-color: #d2dfdf;
  --accent-color: #0d3a3c ;

  --primary-light: #EEEEEE40;
  --accent-light: #15606430;

  --primary-text: #d2dfdf;
  --accent-text: #d2dfdf;

  --primary-btn-text: #d2dfdf;
  --accent-btn-text: #0d3a3c;

  --mat-progress-bar-active-indicator-color: #156064 !important;

}

$primary-color: var(--primary-color);
$accent-color: var(--accent-color);

$background-color: var(--background-color);
$background-light: var(--background-light);
$background-overlay: var(--background-overlay);

$background-card: var(--background-card);
$background-card-alt: var(--background-card-alt);

$primary-light: var(--primary-light);
$accent-light: var(--accent-light);

$primary-text: var(--primary-text);
$accent-text: var(--accent-text);

$primary-btn-text: var(--primary-btn-text);
$accent-btn-text: var(--accent-btn-text);


.mat-mdc-progress-bar {
  --mat-progress-bar-active-indicator-color: #156064 !important;
  --mat-progress-bar-track-color: #d2dfdf !important;
}

// =================================BACKUP=========================================

// body.theme-dark {
//   --background-color: #121212;
//   --background-light: #151a1a;
//   --background-overlay: transparent;

//   --background-card: #0d3a3c;
//   --background-card-alt: #0d3a3c30;

//   --primary-color: #afc5c6;
//   --accent-color: #0d3a3c ;

//   --primary-light: #EEEEEE40;
//   --accent-light: #15606430;

//   --primary-text: #afc5c6;
//   --accent-text: #afc5c6;

//   --primary-btn-text: #afc5c6;
//   --accent-btn-text: #0d3a3c;

// }


// ==========================================================================


// // ------------------ Greensih yellow  ------------------------
// $primary: #FFD369;
// $accent: #EEEEEE;
// $background-elevated: #393E46;
// $background: #222831;
// $warning: #E7250C;

// $primary-alt: #F1B12D;
// $accent-alt: #B0724D;
// $background-elevated-alt: #054340;
// $background-alt: #002C29;
// // ------------------ ------------------------
// $primary: #3E50B5;
// $accent: #EEEEEE;
// $accent: #F9A826;
// $light-sea-green: #2ec4b6;
// $rich-black: #011627;
// //---------------------------------------


// $english-voilet: #4B4A67;
// $tea-green: #BFEDC1;

// $gun-metal: #253031;
// $dark-slate-grey: #315659;
// $light-blue: #C3DFE0;


// $primary-color: $base-color-1;
// $accent-color: $base-color-2;
// $tertiary-color: $base-color-3;
// $background-color: $base-background-3;
// $background-color-inverse: $base-background-1;

// $primary-light: #EEEEEE40;
// $accent-light: #15606440;




// ------------------ Grey Scale ------------------------
// $base-color-1: #D3D3D3;
// $base-color-2: #393E46;
// $base-color-3: #F5F0BB;
// $base-color-4: #73A9AD;

// $base-background-1: #EEEEEE;
// $base-background-2: #F5F0BB;

// $base-background-3: #393E46;
// $base-background-4: #222831;

// ------------------------------------------


// $base-color-1: #73A9AD;
// $base-color-2: #B3C890;
// $base-color-3: #DBDFAA;
// $base-color-4: #73A9AD;
// $base-color-1: #00ADB5;
