<div class="portfolio-main">
  <div class="portfolio-section portfolio-left" [class.portfolio-highlight]="LeftBlockActive">
    <!-- PROFILE PICTURE -->
    <ng-container *ngTemplateOutlet="ProfilePicTmpl"></ng-container>

    <!-- ABOUT ME INFO -->
    <ng-container *ngTemplateOutlet="AboutMeTmpl"></ng-container>

    <!-- BUTTONS -->
    <ng-container *ngTemplateOutlet="ButtonsLeftTmpl"></ng-container>


  </div>
  <div class="portfolio-section portfolio-right" [class.portfolio-highlight]="RightBlockActive">

    <!-- DESIGNATION TITLE -->
    <ng-container *ngTemplateOutlet="TitleTmpl"></ng-container>

    <!-- BUTTONS -->
    <ng-container *ngTemplateOutlet="ButtonsRightTmpl"></ng-container>

  </div>
</div>


<ng-template #AboutMeTmpl>
  <div class="portfolio-title-block portfolio-title-left" [class.primary-text]="LeftBlockActive"
    [class.accent-text]="!LeftBlockActive" [class.about-me-mode]="AboutMeMode">
    <div class="banner-pre-title">
      {{ 'banner.pre_name' | translate }}
    </div>
    <div class="banner-title">
      {{ 'contact_info.display_name' | translate }}
    </div>
    @if (!AboutMeMode) {
      <div class="banner-sub-title c-pointer" (click)="CopyEmail()"
        [matTooltip]="'global.click_to_copy' | translate" [matTooltipClass]="'text-12 tooltip'"
        [matTooltipPosition]="'left'" [innerHTML]="'contact_info.email' | translate">
      </div>
    }
    @if (!AboutMeMode) {
      <div class="banner-sub-title">
        <div [innerHTML]="'contact_info.location' | translate"></div>
      </div>
    }
  </div>
</ng-template>
<ng-template #ButtonsLeftTmpl>
  <div class="portfolio-details-block icons">
    <!-- <div class="detail-block">
    <button class="box-shadow-hover"
      [class.primary-btn]="!LeftBlockActive"
      [class.accent-btn]="LeftBlockActive"
      (click)="DownloadCV()">
      <mat-icon>{{Constants.DOWNLOAD_CV_ICON}}</mat-icon>
      <div class="ml-2">{{'banner.download_cv' | translate}}</div>
    </button>
  </div> -->

  <!-- <div class="detail-block">
  <button id="AboutMeBtn" class="box-shadow-hover"
    [class.primary-btn]="!LeftBlockActive"
    [class.accent-btn]="LeftBlockActive"
    (click)="GoToAbout()">
    <mat-icon>{{Constants.ABOUT_ICON}}</mat-icon>
    <div class="ml-2">{{'banner.about_btn' | translate}}</div>
  </button>
</div> -->

<!-- <div class="detail-block">
<button id="AboutMeBtn" class="box-shadow-hover"
  [class.primary-btn]="!LeftBlockActive"
  [class.accent-btn]="LeftBlockActive"
  (click)="GetInTouch()">
  <mat-icon>{{Constants.MAIL_ICON}}</mat-icon>
  <div class="ml-2">{{'banner.get_in_touch' | translate}}</div>
</button>
</div> -->

<div class="detail-block">
  <a target="_blank" [href]="'contact_info.linkedin' | translate">
    <button id="OpenLinkedInBtn" class="box-shadow-hover-only icon-btn-accent"
      [matTooltip]="'banner.icon.linkedin' | translate" [matTooltipPosition]="'below'" [matTooltipClass]="'tooltip-transparent'">
      <app-linkedin></app-linkedin>
    </button>
  </a>
</div>
<div class="detail-block">
  <a target="_blank" [href]="'contact_info.github' | translate">
    <button id="OpenGithubBtn" class="box-shadow-hover-only icon-btn-accent"
      [matTooltip]="'banner.icon.github' | translate" [matTooltipPosition]="'below'" [matTooltipClass]="'tooltip-transparent'">
      <app-github-icon></app-github-icon>
    </button>
  </a>
</div>
</div>
</ng-template>
<ng-template #ProfilePicTmpl>
  <div class="portfolio-pp-container" [class.about-me-mode]="AboutMeMode">
    <div class="portfolio-pp-block">
      <app-profile-picture [DynamicHeight]="true"></app-profile-picture>
    </div>
  </div>
</ng-template>
<ng-template #ButtonsRightTmpl>
  <div class="portfolio-details-block">
    <div class="detail-block">
      <button id="GoToSkillsBtn" class="box-shadow-hover" [class.primary-btn]="!RightBlockActive"
        [class.accent-btn]="RightBlockActive" (click)="GoToSkills()">
        <mat-icon>{{Constants.SKILLS_ICON}}</mat-icon>
        <div class="ml-2">{{'banner.work_btn' | translate}}</div>
      </button>
    </div>

    <!-- <div class="detail-block">
    <button class="box-shadow-hover"
      [class.primary-btn]="!RightBlockActive"
      [class.accent-btn]="RightBlockActive"
      (click)="GoToExperience()">
      <mat-icon>{{Constants.EXP_ICON}}</mat-icon>
      <div class="ml-2">{{'banner.exp_btn' | translate}}</div>
    </button>
  </div> -->

  <div class="detail-block">
    <button id="DownloadCVBtnD" class="box-shadow-hover" [class.primary-btn]="!RightBlockActive"
      [class.accent-btn]="RightBlockActive" (click)="DownloadCV()">
      <mat-icon>{{Constants.DOWNLOAD_CV_ICON}}</mat-icon>
      <div class="ml-2">{{'banner.download_cv' | translate}}</div>
    </button>
  </div>

  <!-- <div class="detail-block">
  <button id="DownloadCVBtnD" class="box-shadow-hover"
    [class.primary-btn]="!RightBlockActive"
    [class.accent-btn]="RightBlockActive"
    (click)="GetInTouch()">
    <mat-icon>{{Constants.MAIL_ICON}}</mat-icon>
    <div class="ml-2">{{'banner.get_in_touch' | translate}}</div>
  </button>
</div> -->
</div>
</ng-template>
<ng-template #TitleTmpl>
  <div class="portfolio-title-block portfolio-title-right" [class.primary-text]="RightBlockActive"
    [class.accent-text]="!RightBlockActive">
    <div class="banner-pre-title">
      {{ 'banner.pre_role' | translate }}
    </div>
    <div class="banner-title">{{ 'banner.title' | translate }}</div>
    <div class="banner-sub-title">
      <div [innerHTML]="'banner.subtitle' | translate"></div>
    </div>
    <div class="banner-sub-title">
      <div [innerHTML]="'banner.subtitle2' | translate"></div>
    </div>
  </div>
</ng-template>