@use '../../../../assets/css/variables.scss' as *;
@use '../../../../styles.scss' as *;


// ------------------------------- Main -------------------------------
.portfolio-main {
    display: flex;
    padding: 50px;
}

.portfolio-section {
    min-height: 90vh;
    position: relative;
    background-color: transparent;
    border-radius: $border-radius-high;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: $transition;
    transition: $transition;
}

.portfolio-highlight {
    background-color: $background-card !important;
    @extend .box-shadow-high;
}

.portfolio-left {
    width: 40vw;
}

.portfolio-right {
    width: 60vw;
}

// ------------------------------- Main -------------------------------


// ------------------------------- Profile Picture -------------------------------
.portfolio-pp-container {
    position: absolute;
    // display: flex;
    // flex-direction: row-reverse;
    // align-items: center;
    // min-height: 85vh;
    // width: 0;
    // right: 0;
    top: 20px;
    right: 0;
    opacity: 1;
}

.portfolio-pp-container.about-me-mode {
    transform: translateX(100%) scale(1.1);
    opacity: 0;
    transition: $transition;
}

// ------------------------------- Profile Picture -------------------------------



// ------------------------------- TITLE -------------------------------
.portfolio-title-block {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.portfolio-title-block.about-me-mode {
    margin-top: -400px;
}

.portfolio-title-left {
    align-items: flex-end;
    margin-right: 20px;
    -webkit-transition: $transition;
    transition: $transition;
}

.portfolio-title-right {
    align-items: flex-start;
    margin-left: 20px;
    -webkit-transition: $transition;
    transition: $transition;
}

.hidden-block {
    opacity: 0;
    // transform: scale(0);
    height: 0;
    width: 0;
    -webkit-transition: $transition;
    transition: $transition;
}

.hidden-block.about-me-mode {
    opacity: 1;
    // transform: scale(1);
    height: auto;
    width: 80%;
}

.banner-desc-title {
    align-self: flex-start;
    margin-bottom: 10px;
}

// ------------------------------- TITLE -------------------------------





// ------------------------------- ACTION BUTTONS -------------------------------

.portfolio-details-container {
    position: relative;
}

.portfolio-details-block {
    position: absolute;
    bottom: 5em;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 50vw;

    .detail-block {
        text-align: center;
        margin: 0 20px;
    }
}

.portfolio-animate.inactive .primary-btn,
.portfolio-animate.inactive .accent-btn {
    height: 45px;
    min-width: 45px;
    padding: 0 20px;
    font-size: 16px;
    -webkit-transition: $transition;
    transition: $transition;
    border-radius: 5px;
}



@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .banner-title {
        font-size: 2.75em;
    }
}

@media only screen and (min-width: 821px) and (max-width: 1099px) {
    #DownloadCVBtnD {
        display: none;
    }

    .portfolio-pp-container {
        right: unset;
        top: 40px;
    }

    .portfolio-left {
        width: 50vw;
    }

    .portfolio-right {
        width: 50vw;
    }

    .portfolio-title-block.portfolio-title-left {
        align-items: center;
        margin-top: 90px;
    }

    .portfolio-title-block.portfolio-title-right {
        align-items: center;
        margin-top: 100px;
        margin-left: 0;
    }

    .portfolio-details-block {
        bottom: 5em;
        height: 50px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 820px) {
    #DownloadCVBtnD {
        display: none;
    }

    .portfolio-pp-container {
        right: unset;
        top: 40px;
        position: relative;
    }

    .portfolio-section {
        min-height: auto;
    }

    .portfolio-left {
        width: 50vw;
    }

    .portfolio-right {
        width: 50vw;
        justify-content: space-between;
    }

    .portfolio-title-block.portfolio-title-left {
        align-items: center;
        margin-top: 90px;
        margin-right: 0;
    }

    .portfolio-title-block.portfolio-title-right {
        align-items: center;
        margin-top: 100px;
        margin-left: 0;
    }

    .portfolio-details-block {
        position: relative;
        bottom: 0;
        height: 45px;
        margin: 20px 0 40px 0;

        .detail-block {
            margin: 0 5px;
        }
    }
}



@media only screen and (max-width: 550px) {

    #DownloadCVBtnD,
    #GoToSkillsBtn,
    #AboutMeBtn,
    .portfolio-details-block:not(.icons) {
        display: none;
    }

    .portfolio-main {
        flex-direction: column;
        padding-top: 120px;
    }

    .portfolio-pp-container {
        right: unset;
        top: -90px;
        position: absolute;
    }

    .portfolio-section {
        min-height: auto;
    }

    .portfolio-left {
        width: 100%;
    }

    .portfolio-right {
        width: 100%;
        justify-content: space-between;
    }

    .portfolio-title-block.portfolio-title-left {
        align-items: center;
        margin-top: 120px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .portfolio-title-block.portfolio-title-right {
        align-items: center;
        margin-top: 50px;
        margin-left: 0;
    }
    .portfolio-details-block {
        position: relative;
        bottom: 0;
        height: 45px;
        margin: 10px 0 40px 0;
    
        .detail-block {
            margin: 0;
        }
    }
}