<mat-list class="options-container">

  <mat-list-item (click)="close(1)" class="c-pointer">
    <mat-icon matListItemIcon class="list-item">{{Constants.DOWNLOAD_CV_ICON}}</mat-icon>
    <div matListItemTitle class="list-item">{{'banner.download_cv' | translate}}</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item (click)="close(2)" class="c-pointer">
    <mat-icon matListItemIcon class="list-item">{{Constants.SKILLS_ICON}}</mat-icon>
    <div matListItemTitle class="list-item">{{'skills.title' | translate}}</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item (click)="close(3)" class="c-pointer">
    <mat-icon matListItemIcon class="list-item">{{Constants.EXP_ICON}}</mat-icon>
    <div matListItemTitle class="list-item">{{'banner.exp_btn' | translate}}</div>
  </mat-list-item>

  @for (lang of Constants.LANGUAGE_LIST; track lang) {
    @if (SelectedLanguage?.code !== lang?.code) {
      <mat-divider></mat-divider>
    }
    @if (SelectedLanguage?.code !== lang?.code) {
      <mat-list-item
        (click)="close(4, $safeNavigationMigration(lang?.code))"
        class="c-pointer"
        [matTooltip]="lang.tooltip"
        [matTooltipClass]="'text-12'">
        <mat-icon matListItemIcon class="list-item">{{Constants.LANG_ICON}}</mat-icon>
        <div matListItemTitle class="list-item">{{lang.name}}</div>
      </mat-list-item>
    }
  }

  @for (theme of Constants.THEMES_LIST; track theme) {
    @if (SelectedTheme !== theme?.id) {
      <mat-divider></mat-divider>
    }
    @if (SelectedTheme !== theme?.id) {
      <mat-list-item (click)="close(5, $safeNavigationMigration(theme?.id))" class="c-pointer">
        <mat-icon matListItemIcon class="list-item">{{Constants.THEME_ICON}}</mat-icon>
        <div matListItemTitle class="list-item">{{(theme?.longName || '') | translate}}</div>
      </mat-list-item>
    }
  }

  @if (ShowGoToTop) {
    <mat-divider></mat-divider>
    <mat-list-item (click)="close(6)" class="c-pointer">
      <mat-icon matListItemIcon class="list-item">arrow_upward</mat-icon>
      <div matListItemTitle class="list-item">{{'global.go_to_top' | translate}}</div>
    </mat-list-item>
  }

  <mat-divider></mat-divider>

  <mat-list-item (click)="close(6)" class="c-pointer">
    <mat-icon matListItemIcon class="list-item">close</mat-icon>
    <div matListItemTitle class="list-item">{{'global.close' | translate}}</div>
  </mat-list-item>

</mat-list>



<!-- <div mat-subheader>Notes</div> -->
<!-- <div matListItemLine>{{folder.updated | date}}</div> -->