:host {
  display: block;
  inline-size: clamp(11.25rem, min(33vh, 28vw), 20rem);
  max-inline-size: 100%;
}

img {
  display: block;
  inline-size: 100%;
  block-size: auto;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

@media (max-width: 820px) {
  :host {
    inline-size: 10rem;
  }
}
