:root {
  --hero-card-radius: 25px;
  --hero-pre-title-size: 20px;
  --hero-subtitle-size: 20px;
  --hero-row-gap: 24px;
  --hero-right-text-color: var(--primary-color);
  --hero-transition: 0.3s ease;
  --hero-card-bg: var(--primary-color);
  --shadow-high: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --hero-card-shadow: var(--shadow-high);
  --hero-photo-shadow: var(--shadow-high);
}

.color-scheme-dark {
  --hero-card-bg: var(--primary-dark);
  --hero-right-text-color: var(--secondary-color);
}
