<section>
    <div class="container">
        @if(greeting() !== undefined) {
        <div class="greeting" [class.show]="greeting()" [class.hide]="greeting() === false">
            Hello!
        </div>
        } @if(title() !== undefined) {
        <div class="title">
            <div class="prefix" [class.show]="prefix()" [class.hide]="prefix() === false">I'm
            </div>

            <div class="name" [class.show]="name()" [class.hide]="name() === false">Athreya</div>
        </div>
        <div class="subtitle" [class.show]="subtitle()" [class.hide]="subtitle() === false">
            I am a web developer
        </div>
        <!-- <div class="proceed" [class.show]="initiation()" [class.hide]="initiation() === false">
            <button class="primary-button message-right" (click)="proceed()">Hello!</button>
        </div> -->
        }
    </div>
</section>