section {
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  gap: 1rem;
}

.greeting,
.title .prefix,
.title .name {
  opacity: 0;
  font-size: 3em;
}
.subtitle {
  opacity: 0;
  font-size: 1.5em;
}
.name {
  font-weight: 700;
}
.proceed {
  opacity: 0;
  margin-top: 2em;
}

.greeting.show,
.prefix.show,
.name.show,
.subtitle.show,
.proceed.show {
  animation: fadeIn 1s ease-in-out forwards;
}
.greeting.hide,
.name.hide,
.subtitle.hide,
.proceed.hide,
.prefix.hide {
  animation: fadeOut 1s ease-in-out forwards;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
